<h1 style="color:green; text-align:center;margin-top:10px" >
    Data visualization : Ventas de Video juegos 
</h1>

---

<p style=" padding:2%; margin-top:2% " >
    En este ejercicio, se estudia un <i>data set, vgsales.csv</i>, utilizando herramientas de visualización 
    de datos básicas. 
</p>

In [ ]:
# importamos los paquetes pandas, matplotlib 

import pandas as pd 
import matplotlib.pyplot as plt

import numpy as np

In [20]:

#cargamos el data set 
data = pd.read_csv("vgsales.csv")

# Para tener una "mirada rapida" en esta base de datos. 
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

<p style=" margin-top:3%; padding:2%; margin-left:2%" >
    Se pasa a crear una función que de como resultado el (o los) video juegos con: <br>
    Mayor valor en ventas globales, o menor valor en ventas globales. Habrá que decidir lo que queremos. 
</p>

<p style=" margin-top:2%; padding:2%; margin-left:2% ">
    El resultado es el nombre de (o los) video juegos, la plataforma (PC,Wii,...), y el valor de ventas.
</p>

In [ ]:
#
# funcion ventasGlob() 
#

def ventasGlob():
    pass

In [19]:


vg_maxGlobales = data.loc[ data["Global_Sales"] == data["Global_Sales"].max() ] 
vg_maxGlobales

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [17]:

#
# ¿ El/los de menor valor en ventas globales ? 
#

vg_minGlobales = data.loc[ data["Global_Sales"] == data["Global_Sales"].min() ] 

vg_minGlobales

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
15980,15983,Turok,PC,2008,Action,Touchstone,0.00,0.01,0.00,0.0,0.01
15981,15984,Coven and Labyrinth of Refrain,PSV,2016,Action,Nippon Ichi Software,0.00,0.00,0.01,0.0,0.01
15982,15985,Super Battle For Money Sentouchuu: Kyuukyoku n...,3DS,2016,Action,Namco Bandai Games,0.00,0.00,0.01,0.0,0.01
15983,15986,Dragon Zakura DS,DS,2007,Misc,Electronic Arts,0.00,0.00,0.01,0.0,0.01
15984,15987,Chameleon: To Dye For!,DS,2006,Puzzle,505 Games,0.01,0.00,0.00,0.0,0.01
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16596,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01